* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
    -webkit-hypens: auto;
    -webkit-hyphens: auto;
}

#root {
    height: 100%;
}

header, footer {
    /* background-color: #000055; */
    background-color: #fff;
    /* background-color: transparent; */
    /* color: #efefef; */
    color: #ff5678;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
    padding: 1rem;
}

/* .grid-container {
    display: grid;
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5rem 1fr 3rem;
    height: 100%;
} */
.grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid-container > main {
    min-height: calc(100vh - 5rem);
}

/* COMMON */
a {
    text-decoration: none;
    /* color: #efefef; */
    color: #ff5678;
}

a:hover {
    /* color: #050505; */
    color: #e496a4;
}

/* HEADER */
header a.logo {
    /* color: #efefef; */
    color: #ff5678;
    font-size: 1.2rem;
    font-weight: 600;
}

header a {
    color: #ff5678;
    padding: 1rem;
}

.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row.center {
    justify-content: center;
}

/* CARD */
.card img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.card-body a {
    color: #050505;
}
.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem
}

.card-body > * {
    margin-bottom: 0.5rem
}

.location {
    font-size: 1.2rem;
}

/* FORMS */
.form {
    align-items: center;
    height: 100%;
    justify-content: center;
}

.form, .form-element {
    display: flex;
    flex-direction: column;
}

.form-element {
    padding-bottom: .8rem;
}

.form-element input{
    padding: .3rem 1rem;
}

/* .form-element input:invalid{
    border: 1px solid red;
} */

.login-form > .form-element input {
    border: 1px solid #000;
}

.form-link {
    align-self: flex-end;
    color: #050505;
    font-size: .8rem;
    text-decoration: underline;
    padding-top: .2rem;
}

button {
    border: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.user-type-selection {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem 0;
    max-width: 500px;
}

.user-type-selection-btn-group {
    box-shadow: 1px 1px 2px 1px #ccc;
    margin: .5rem 0;
}

.user-type-selection-btn-group button.active, .user-type-selection #signup, .user-type-selection #login, button.search, .send-message {
    background-color: #ff5678;
    color: #fff;
}

.user-type-selection-btn-group button {
    background-color: #fff;
    color: #000;
    padding: 1.25vh 6vw;
}

.user-type-selection-btn-group button#hire {
    border-right: 1px solid #ccc;
}

.user-type-selection #signup, .user-type-selection #login, .send-message {
    box-shadow: 1px 1px 2px 1px #ccc;
    padding: 1.25vh 5vw;
    margin-top: 5vh;
    width: 100%;
}

.user-type-selection #login {
    margin-top: 0;
}

.user-type-selection-btn-group.authentication {
    width: 100%;
}

/* Loading Indicator */
.loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Message Component */

.messages {
    display: flex;
    flex-direction: column;
}

.messages .room-link {
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
    margin: .5rem 0;
    padding: .8rem;
}
.messages .room-link:hover{
    box-shadow: 1px 1px 1px 1px #000055;
}

.messages .room {
    color: #050505;
    padding: 0;
    margin: 0;
}

@keyframes on-load {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

.messages .room-recipient {
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .2rem 0;
}

.messages .room-content {
    background-color: #fff;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.messages .room-content > .room-message {
    flex: 60%;
    font-size: medium;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    animation: on-load 2s;

}

.messages .room-content > .room-timestamp {
    background-color: #fff;
    flex: 40%;
    display: flex;
    justify-content: flex-end;
    font-size: x-small;
    padding: 0;
    margin: 0;
    animation: on-load 2s;
}

/* Message Component */
.message {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em 0;
}

.left.message {
    align-items: flex-start;
}

.right.message {
    align-items: flex-end;
    
}

.message-proper {
    border-radius: 5px;
    background-color: #dedee4;
    padding: 1em;
    margin-bottom: .2em;
    max-width: 40vw;
    word-break: break-word;
    line-break: auto;
}

.right > .message-proper {
    background-color: #d6d6f5;
}

.message-timestamp {
    font-size: small;
}

.message-form {
    display: flex;
}

/* make like mssngr */
.message-input {
    padding: .2em;
    width: 100%;
    overflow: scroll;
}

.send-message {
    margin: 0;
    width: max-content;
}

/* Profile */
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2rem;
    width: 100vw;
}

.text-500 {
    font-weight: 500;
}

.flex-2 {
    flex: 2;
}

.profile-image {
    max-width: 50vw;
    max-height: 25vh;
}
.profile-image-input {
    font-family: "Montserrat", sans-serif;
    width: 70%;
}

.profile-text-field {
    flex: 1;
    margin-bottom: 1rem;
}

.profile-text-field-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}